.picture {
    width: 300px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 1;
  }
  
  .picture:hover {
    transform: scale(1.1)
  }
  
  .picture-container {
    display: flexbox;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
  }

  .header:grow{
      transition: all .2s ease-in-out;
  }
  .header:hover {
        transform: scale(1.5);
  }
  
  body {
    text-align: center;
    background-color:pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
  }
  
  .page-container {
    width: 80%;
    margin-top: 5rem;
    margin: auto;
  }

 

