.picture {
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1;
  }
  
  .bio-container {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    gap: 12px;
  }
  
  body {
    background-color: rgb(212, 244, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    color: rgb(0, 0, 0);
  }
  