html,
body {
  background-color: rgb(212, 244, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
  color: rgb(0, 0, 0);
}

.MP0-container {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.picture {
    width: 600px;
    border-radius: 5px;
    object-fit: contain;
    aspect-ratio: 2;
    display: flexbox;
    flex-wrap: auto;
  }

.gif{
  width: 600px;
  padding: 20px;
  display: flexbox;
  flex-wrap: auto;
}

.progress-images{
  width: 400px;
  padding: 20px;
  display: flexbox;
  flex-wrap: auto;
}
