body {
    background-color: rgb(212, 244, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    color: rgb(0, 0, 0);
  }
  
.picture {
    width: 400px;
    border-radius: 5px;
    object-fit: contain;
    aspect-ratio: 2;
  }
